:root {
    --color1: #121F4E;  
    --color2: #642E93;  
    --color3: #FAE7DE;  
    --color4: #EC5EE0;  
    --color5: #1646BE;  
    --color6: #e71396; 
    --color7: #f08282;
    --color8: #fc9d31;
    --color9: #e0cf35;

}

body, html {
    min-height:100%;
}

body {
    background: linear-gradient(rgba(0, 0, 104, .5), rgba(0, 0, 100, .5)), URL("./star-image.jpg");
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    /* background-color: #FAE7DE; */

}

body, header, footer {
    opacity: 1;
}

/* header {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color4), var(--color3), var(--color4), var(--color2), var(--color1));
    color: var(--color1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */


main {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    color: #FAE7DE;
    background:linear-gradient(to right, rgba(18, 31, 79, 0.9), var(--color6), var(--color8), var(--color6), rgba(18, 31, 79, 0.9));
}

main button {
    background-color: var(--base-color-secondary);
    color: var(--color-text-primary);
}

.list-of-people {
    list-style: none;

}

.list-of-people > li {
    border: 3px solid black;
}

.list-of-people .assignment-toggle{
    border-left: 3px solid black;
    padding-left: 5px;
    
}

.list-of-people .assignment-toggle::after{
    content: ">";
    margin-left: 5px;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.list-of-people > li .person-name{
    font-size: large;
}

.list-of-people div {
    background-color: var(--color-secondary);
    color: #FAE7DE;
}

.remove-person {
    background-color: red;
}

footer {
    background-color: var(--base-color-secondary);
    color: aliceblue;
    background: URL("./grid.png") center, no-repeat; 
    background-size: 150% 200%;
    border: 5px solid;
    border-left:0px;
    border-right:0px;
    border-image: linear-gradient(to right, var(--color1), var(--color3));
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal input {
    border-radius: 10px;
    border-color: rgba(0, 0, 100, 0.5);
    background-color: rgba(0, 130, 200, 0.3);
}

.modal-content {
    background:linear-gradient(to right, var(--color8), var(--color7));
}

.yourInvited {
    display:flex;
    flex-wrap:wrap;
}

.invitation {
    display:flex;
    flex-wrap:wrap;
    margin-left: 450px;
    margin-top: -400px;
}

.partyPlanner {
    display:flex;
    flex-wrap:wrap;
    margin-left: 430px;
    width: 400px;
}

.astro_img {
    width:300px;
    height:300px;
    margin-top:-100px;
    margin-bottom:0px;
}

.astro_2 {
    width: 400px;
    height: 400px;
    margin-left:250px;
}

.pinkPlanet {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin-left:933px;
    margin-top: -575px;
    padding:0px;
}

.orangePlanet {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    margin-left:-150px;
    margin-top: -500px;
    padding:0px;
}

.pinkPlanet_img {
    height: 500px;
    width: 500px;
}

.orangePlanet_img {
    height: 500px;
    width: 500px;
}

#addGuest {
    background:linear-gradient(to right,var(--color9), var(--color8), var(--color9));
    color:#121F4E;
}

#reset {
    background:linear-gradient(to right,var(--color1), var(--color8),var(--color9), var(--color7));
    color:#121F4E;
}

#EPI {
    background:linear-gradient(to right,var(--color8),var(--color9), var(--color7), var(--color1));
    color:#121F4E;
}

/* @media only screen and (min-width: 1291px) {
    header {
        min-height:100%;
    }
    .yourInvited {
        display:flex;
        flex-wrap:wrap; 
        margin-left: 0px;
        margin-top:300px;
    }
    .pinkPlanet {
        display:flex;
        height: 500px;
        width: 500px;
    }
    .invitation {
        display:flex;
        height: 500px;
        width: 500px;
        align-items: center;
    }
} */