:root {
    --color1: #121F4E;  
    --color2: #642E93;  
    --color3: #FAE7DE;  
    --color4: #EC5EE0;  
    --color5: #1646BE;  
    --color6: #C50FC5;  

}
    
body {
    background: linear-gradient(rgba(0, 0, 104, .5), rgba(0, 0, 100, .5)), URL("./star-image.jpg");
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: #FAE7DE;

    /* background-color: #FAE7DE; */

}

body, header, footer {
    opacity: 1;
}

header {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6));
    color: var(--color1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


main {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

main button {
    background-color: var(--base-color-secondary);
    color: var(--color-text-primary);
}

.list-of-people {
    list-style: none;

}

.list-of-people > li {
    border: 3px solid black;
}

.list-of-people .assignment-toggle{
    border-left: 3px solid black;
    padding-left: 5px;
    
}

.list-of-people .assignment-toggle::after{
    content: ">";
    margin-left: 5px;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.list-of-people > li .person-name{
    font-size: large;
}

.list-of-people div {
    background-color: var(--color-secondary);
    color: #FAE7DE;
}

.remove-person {
    background-color: red;
}

footer {
    background-color: var(--base-color-secondary);
    color: aliceblue;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}