:root {
    --color1: #121F4E;  
    --color2: #642E93;  
    --color3: #FAE7DE;  
    --color4: #EC5EE0;  
    --color5: #1646BE;  
    --color6: #e71396; 
    --color7: #f08282;
    --color8: #fc9d31;
    --color9: #e0cf35;
}

body, html {
    min-height:100%;
}

body {
    background: linear-gradient(rgba(0, 0, 104, .5), rgba(0, 0, 100, .5)), URL("../images/star-image.jpg");
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    /* background-color: #FAE7DE; */ 
}

body, header, footer {
    opacity: 1;
}

/* header {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color4), var(--color3), var(--color4), var(--color2), var(--color1));
    color: var(--color1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */


main {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    color: #FAE7DE;
    background:linear-gradient(to right, rgba(18, 31, 79, 0.9), var(--color6), var(--color8), var(--color6), rgba(18, 31, 79, 0.9));
}

main button {
    background-color: var(--base-color-secondary);
    color: var(--color-text-primary);
}

.list-of-people {
    list-style: none;

}

.list-of-people > li {
    border: 3px solid black;
}

.list-of-people .assignment-toggle{
    border-left: 3px solid black;
    padding-left: 5px;
    
}

.list-of-people .assignment-toggle::after{
    content: ">";
    margin-left: 5px;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.list-of-people > li .person-name{
    font-size: large;
}

.list-of-people div {
    background-color: var(--color-secondary);
    color: #FAE7DE;
}

.remove-person {
    background-color: red;
}

footer {
    background-color: var(--base-color-secondary);
    color: aliceblue;
    background-image: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), repeating-conic-gradient(var(--color1) 30%, var(--color5) 30%, var(--color6) 50%, var(--color7) 50%, var(--color9) 70%, var(--color8) 50%, var(--color3) 50%);
    background-size: 150% 200%;
    /* border-right: 15px solid var(--color6);
    border-left: 15px solid var(--color8);
    border-bottom: 15px solid var(--color7); */
    border-top: 12px solid var(--color9);
    /* border-radius:20px; */
    z-index:-1;
}


.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal input {
    border-radius: 10px;
    border-color: rgba(0, 0, 100, 0.5);
    background-color: rgba(0, 130, 200, 0.3);
}

.modal-content {
    background:linear-gradient(to right, var(--color8), var(--color7));
}

.your-invited {
    display:flex;
    flex-wrap:wrap;
}

.invitation {
    display:flex;
    flex-wrap:wrap;
    margin-left: 450px;
    margin-top: -400px;
}

.party-planner {
    display:flex;
    flex-wrap:wrap;
    margin-left: 430px;
    width: 400px;
}

.astro-img {
    width:300px;
    height:300px;
    margin-top:-100px;
    margin-bottom:0px;
}

.astro-2 {
    width: 400px;
    height: 400px;
    margin-left:250px;
}

.pink-planet {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin-left:762px;
    margin-top: -450px;
    padding:0px;
}

.orange-planet {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    margin-left:-150px;
    margin-top: -620px;
    padding:0px;
}

.pink-planet-img {
    height: 500px;
    width: 500px;
}

.orange-planet-img {
    height: 500px;
    width: 500px;
}

#addGuest {
    background:linear-gradient(to right,var(--color9), var(--color8), var(--color9));
    color:#121F4E;
}

#reset {
    background:linear-gradient(to right,var(--color1), var(--color8),var(--color9), var(--color7));
    color:#121F4E;
}

#EPI {
    background:linear-gradient(to right,var(--color8),var(--color9), var(--color7), var(--color1));
    color:#121F4E;
}



















ul li {
    list-style-type:none;
    font-size:20px;
}

p {
    font-size:28px;
}

.abbagail-thomas {
    margin-left:500px;
    margin-top:-160px;
    padding:10px;
}

.isaiah-angelica {
    margin-right:600px;
    margin-top:50px;
}

a:link {
 text-decoration:none;   
 color: black;
}

a:hover {
    pointer-events: visible;
}

.isaiah {
    background-color:#1646BE;
    border-radius:20px;
    padding:5px;
}

.abbagail {
 background-color:#f08282;
 border-radius:20px;
 padding:5px;
}

.angelica {
    background-color:#e71396;
    border-radius:20px;
    padding:5px;
}

.thomas {
    background-color:#fc9d31;
    border-radius:20px;
    padding:5px;
}

.thank-you {
    width: 250px;
    height: 250px;
    margin-top: -160px;
}

.created {
    height: 200px;
}
