:root {
    --color1: #121F4E;  
    --color2: #642E93;  
    --color3: #FAE7DE;  
    --color4: #EC5EE0;  
    --color5: #1646BE;  
    --color6: #e71396; 
    --color7: #f08282;
    --color8: #fc9d31;
    --color9: #e0cf35;
}

body, html {
    min-height:100%;
}

body {
    background: linear-gradient(rgba(0, 0, 104, .5), rgba(0, 0, 100, .5)), URL("../images/star-image.jpg");
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    /* background-color: #FAE7DE; */

}

body, header, footer {
    opacity: 1;
}

/* header {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color4), var(--color3), var(--color4), var(--color2), var(--color1));
    color: var(--color1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */


main {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    color: #FAE7DE;
    background:linear-gradient(to right, rgba(18, 31, 79, 0.9), var(--color6), var(--color8), var(--color6), rgba(18, 31, 79, 0.9));
}

main button {
    background-color: var(--base-color-secondary);
    color: var(--color-text-primary);
}

.list-of-people {
    list-style: none;
}

.list-of-people > li {
    border: 3px solid black;
    
}

.list-of-people > li > div{
    background: radial-gradient(var(--color2) -75%, var(--color1) 50%,  var(--color6) 125%);
}

.list-of-people .assignment-toggle{
    border-left: 3px solid black;
    padding-left: 5px; 
}

.list-of-people > li > button:first-of-type {
    background-color: var(--color1);
}

.list-of-people > li .person-name{
    font-size: large;
}

.list-of-people div {
    background-color: var(--color-secondary);
    color: #FAE7DE;
}

.remove-person {
    background-color: red;
}

footer {
    background-color: var(--base-color-secondary);
    color: aliceblue;
    background: URL("../images/grid.png") center, no-repeat; 
    background-size: 150% 200%;
    border: 5px solid;
    border-left:0px;
    border-right:0px;
    border-image: linear-gradient(to right, var(--color1), var(--color3));
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal input {
    border-radius: 10px;
    border-color: rgba(0, 0, 100, 0.5);
    background-color: rgba(0, 130, 200, 0.3);
}

.modal-content {
    background:linear-gradient(to right, var(--color8), var(--color7));
}

.your-invited {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation {
    position: relative;
    right: 150px;
}


.party-planner {
    position: absolute;
    top: 10%;
    left: 0%;
    padding: 0 30%;
}

.astro-2 {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 50px;
}

.pink-planet, .orange-planet{
    overflow: hidden;
}

.pink-planet-img {
    position: relative;
    left: 40%;
    top: -30%;
}

.orange-planet-img {
    position: relative;
    right: 40%;
    top: -30%;
}

#addGuest {
    background:linear-gradient(to right,var(--color9), var(--color8), var(--color9));
    color:#121F4E;
}

#reset {
    background:linear-gradient(to right,var(--color1), var(--color8),var(--color9), var(--color7));
    color:#121F4E;
}

#EPI {
    background:linear-gradient(to right,var(--color8),var(--color9), var(--color7), var(--color1));
    color:#121F4E;
}



@media screen and (max-width: 500px) {
    .invitation {
        height: 200px;
        width: 200px;
        position: relative;
        right: 75px;
    }
    .astro-2 {
        max-width: 200px;
        max-height: 200px;position: relative;
        left: 25px;
    }
}


